*{
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1140px;
}
ul{
    list-style: none;
    display: flex;
    column-gap: 40px;
}
header{
    background: url("img/desk1.png") center/cover no-repeat;
    padding-bottom: 201px;
    padding-top: 30.05px;
}
.header-top{
    color: white;
    display: flex;
    align-items: center;
}
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25.7px;
    padding-top: 20px;
    padding-bottom: 35.27px;
}
.header-button{
    text-align: center;
    color: white;
    font-size: 24px;
    padding-top: 111px;
}
.header-button p{
    font-size: 24px;
}
.button1{
    width: 120px;
    height: 30px;
    background: none;
    color: white;
    border-color: white;
    margin-top: 18px;
}
.p1{
    padding-bottom: 20px;

}

.sec1{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 101px;
}
.img2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 20.57px;
}
.sec1-p{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.sec1-p p{ width: 50%}
.sec2{
    background: url("img/background.png") center/cover no-repeat;
    padding-top: 80px;
    padding-bottom: 110px;
}
.sec2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-bottom: 39px;
}
.sec2-2-1{
    Width:220px;
    height:240px;
    background: white;
    color: black;
    border-radius: 5px;
}
.sec2-2-2{
    Width:220px;
    height:240px;
    background: white;
    margin-left: 71px;
    margin-right:71px;
    color: black;
    border-radius: 5px;
}
.sec2-2-3{
    Width:220px;
    height:240px;
    background: white;
    color: black;
    border-radius: 5px;
}
.sec2-2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    align-items: center;
}
.sec2-2-1 img{
    margin: 22px 35px 14px;
}
.sec2-2-2 img{
    margin: 22px 35px 10px;
}
.sec2-2-3 img{
    margin: 37px 27px 14px;
}
.sec2-2 h6{
    display: flex;
    justify-content: right;
    padding-right: 22px;
    padding-top: 10px;
}
.logo{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30.05px;
}
.lof{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 21.27px;
    padding-top: 30.57px;
}

